.app {

    &__container {
            flex-direction: column;
            height: 100vh;
            overflow-x: hidden;
            perspective: 3px;
            position: relative;
        }

    &__footer {
        background-image: linear-gradient(to right, $text, lighten($text, 15%), $text);
        color: $main-name;
        display: flex;
        font-family: $text-content;
        font-size: $text-content-size;
        height: 50px;
        text-align: center;
        width: 100%;
        
        &--centering {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

