.container-title {
    align-items: center;
    display: flex;
    font-family: $title;
    font-size: $title-size;
    height: auto;
    justify-content: center;
    padding: $internal;
    padding-bottom: 60px;

    @media (max-width: $s) {
        font-size: $title-min-size;
    }

    &__color {
        &--main-name {
            color: $main-name;
        }

        &--text {
            color: $text;
        }
    }
}