.content-container {
    background-color: #ffffff;
    display: flex;
    min-height: 100vh;
    padding: 60px;
    width: 100%;

    @media (max-width:$s) {
        justify-content: center;
        padding-top: 100px;
    }

    @media (max-width:$xs) {
        justify-content: flex-start;
        min-height: 60vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-height:1020px) and (max-width:$s) { //iPad, Huawei P8 Lite
        min-height: 50vh;
    }

    @media (min-height:1020px) and (max-width:$l) { //iPad Pro - horizontal !
        min-height: 200px;
    }

    @media(min-height:1350px) and (max-width:$m) { //iPad Pro
        min-height: 400px;
    }

    &__flex {
        &--row {
 //           flex-direction: row;
            justify-content: center;
        }

        &--column {
            flex-direction: column;
        }
    }
}