.effect {
    &__container-with-depth {
        color: $main-name;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
        padding: 100px 10%;
        position: relative;

        @media(max-width:$xs) {
            padding: 20px;
        }
    }

    &__height {
        height: 100vh;

        @media(max-width:$m) { //Responsive
            height: 250vh;
        }

        @media(max-width:$m) and (min-height: 1301px) { //iPad Pro (portrait)
            height: 150vh;
        }

        @media(max-width:$m) and (max-height:1300px)  { //iPhoneX (landscape)
            height: 520vh;
        }

        @media(max-width:$s) {
            height: 510vh;
        }

        @media(orientation:portrait) and (max-width:$s) and (max-height:600px) { //iPhone 5/SE
            height: 700vh;
        }

        @media(min-height:1020px) and (max-width:$s) { //iPad
            height: 350vh;
        }

        @media(min-height:800px) and (max-width:$xs) { //iPhoneX
            height: 450vh;
        }

        @media(orientation:landscape) and (min-height:370px) and (max-width:$m) { //iPhoneX
            height: 500vh;
        }

        @media(min-height:1260px) and (max-width:$s) { //Huawei P8 Lite
            height: 280vh;
        }

        @media(orientation:landscape) and (max-height:570px) and (max-width:$s) { //iPhone 5/SE, iPhone 6/7/8
            height: 1100vh;
        }

        &--50vh {
            min-height: 50vh !important;
        }
    }

    &__background-color {

        @media(max-width: $s) {
            background-color: rgba($navigation-background, 0.3);
            padding-top: 100px;
        }
    }

    &__middle-bar {
        background-color: rgba($middle-bar, 0.8);
        bottom: 0;
        display: flex;
        height: 120%;
        justify-content: center;
        left: 40%;
        position: absolute;
        right: 40%;
        top: 0;
        width: auto;
        z-index: -1;

        @media(max-width:$m) {
            left: 20%;
            right: 20%;
        }

        @media(max-width:$s) {
            background-color: rgba($middle-bar, 0.6);
            left: 0;
            right: 0;
        }
    }
        
    &__parallax {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        transform: translateZ(-2px) scale(1.8);

        @media(max-width:$s) {
            transform: none;
        }
    }
    
    &__zooming {
        animation: zooming 8s;
    }
}


@keyframes zooming {
    0% {transform: scale(1);}
    100% {transform: scale(1.2);}
}