@keyframes bounce {
    0%, 100% {transform: translateY(-20px)};
    70% {transform: translateY(0)};
}

@keyframes modal_navigation_on {
    0% {
        background-color: rgba($navigation-background, 0);
        transform: scale(0);
    }
    100% {
        background-color: rgba($navigation-background, 0.9);
        transform: scale(1);
    }
}

@keyframes modal_navigation_off {
    0% {
        background-color: rgba($navigation-background, 0.9);
        display: flex;
        transform: scale(1);
    }
    100% {
        background-color: rgba($navigation-background, 0);
        display: none;
        transform: scale(0);
    }
}

.landing-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px;
    position: relative;
    width: 100%;

    @media (max-width:$m) {
        justify-content: center;
    }

    &__navigation {
        animation: modal_navigation_on 2s;
        background-color: rgba($navigation-background, 0.8);
        border: 2px solid $underscore; 
        border-radius: 1vmax;
        display: flex;
        flex-direction: row;
        font-family: $text-content;
        font-size: $price-list-size;
        padding: 0 20px;

        @media (max-width:$m) {
            display: none;
        }
    }

    &__modal-burger {
        align-items: center;
        background-color: rgba($navigation-background, 0.9);
        border: 2px solid $underscore; 
        border-radius: 1vmax;
        cursor: pointer;
        display: none;
        flex-direction: row;
        font-family: $text-content;
        font-size: $text-content-size;
        justify-content: center;
        right: 20px;
        padding: 20px;
        position: fixed;
        top: 20px;
        z-index: 1;

        @media (max-width:$m) {
            display: flex;
        }

        @media (max-width:$s) {
            right: 5%;
            width: 90%;
        }

        @media (max-width:$xs) {
            border-radius: 0;
            padding: 10px;
            right: 0;
            top: 0;
            width: 100%;
        }

        @media (orientation:landscape) and (max-width:$m) and (max-height:420px) {
            border-radius: 0;
            padding: 10px;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

    &__modal-navigation {
        align-items: stretch;
        background-color: rgba($navigation-background, 0.9);
        border: 2px solid $underscore; 
        border-radius: 1vmax;
        display: none;
        flex-direction: column;
        font-family: $text-content;
        font-size: $text-content-size;
        justify-content: center;
        right: 50px;
        position: fixed;
        top: 30px;
        z-index: 1;

        @media (max-width:$l) {
            right: 5px;
        }

        @media (max-width:$m) {
            top: 100px;
        }

        @media (max-width:$s) {
            right: 5%;
            width: 90%;
        }

        @media (max-width:$xs) {
            top: 50px;
        }

        @media (orientation:landscape) and (max-width:$m) and (max-height:420px) { //iPhone 6/7/8, Pixel 2,
            left: 1%;
            right: 1%;
            top: 50px;
            width: auto;
        }

        &--on {
            animation: modal_navigation_on 0.8s;
            display: flex;
        }

        &--off {
            animation: modal_navigation_off 0.5s;
            animation-fill-mode: forwards;
            display: flex;
        }
    }

    &__nav-link {
        border-radius: 1vmax;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        transition: background-color 0.3s;

        &:hover {
            background-color: $underscore;
        }

        @media (orientation:landscape) and (max-width:$m) and (max-height:420px) { //iPhone 6/7/8, Pixel 2,
            padding: 10px;
        }

        @media (orientation:landscape) and (max-width:$m) and (max-height:350px) { //iPhone 5/SE
            padding: 8px;
        }
    }

    &__logo {
        align-items: center;
        color: $main-name;
        display: flex;
        font-family: $landing-page;
        font-size: 140px;
        font-weight: bold;
        justify-content: center;

        @media (max-width:$s) {
            font-size: 100px;
        }
    }

    &__arrow-down {
        align-items: center;
        animation: bounce 1s infinite;
        color: $main-name;
        cursor: pointer;
        display: flex;
        font-size: 70px;

        @media (max-width:$m) {
            bottom: 10px;
            position: absolute;
        }

        @media (max-width:$s) {
            display: none;
        }
    }
}