@keyframes light_box_open {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes light_box_open_l {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(0.9);
    }
}

@keyframes light_box_open_m {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(0.8);
    }
}

@keyframes light_box_close {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.modal {
    align-items: center;
    background-color: rgba(black, 0.8);
    display: flex;
    flex-direction: row;
    font-family: $icons;
    font-size: 70px;
    height: 100vh;
    justify-content: space-between;
    left: 0;
    padding: 0 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @media (max-width:$l) {
       justify-content: center;
    }

    @media (max-width:$s) {
        padding: 0;
    }

    &__region {

        &--color {
            background-color: white;
        }
        
        &--size {
            height: 95%;
            width: 95%;
        }
    }

    &__light-box {
        position: relative;

        &--open {
            animation: light_box_open 1s;

            @media (max-width:$l) {
                animation: light_box_open_l 1s;
            }
    
            @media (max-width:$m) {
                animation: light_box_open_m 1s;
            }
        }

        &--close {
            animation: light_box_close 1s;
        }

        @media (max-width:$l) {
            transform: scale(0.9);
        }

        @media (max-width:$m) {
            transform: scale(0.8);
        }
    }

    &__arrow-left {
        align-items: center;
        color: $main-name;
        cursor: pointer;
        display: flex;
        height: 100%;
        padding-right: 30px;
        z-index: 1;

        @media (max-width:$l) {
            position: absolute;
            left: 30px;
        }

        @media (max-width:$s) {
            align-items: flex-end;
            left: 2px;
        }
    }

    &__arrow-right {
        align-items: center;
        color: $main-name;
        cursor: pointer;
        display: flex;
        height: 100%;
        padding-left: 30px;

        @media (max-width:$l) {
            position: absolute;
            right: 30px;
        }

        @media (max-width:$s) {
            align-items: flex-end;
            right: 2px;
        }
    }
    
    &__close {
        background-color: rgba(black, 0.6);
        border-radius: 1vmax;
        color: $main-name;
        cursor: pointer;
        font-family: $landing-page;
        font-size: $title-size;
        padding: 10px;
        position: fixed;
        right: 60px;
        text-align: end;
        top: 30px;

        @media (max-width:$l) {
            right: 30px;
        }

        @media (max-width:$s) {
            padding: 2px;
            right: 2px;
            top: 2px;
        }

        &--word {
            display: flex;

            @media (max-width:$s) {
                display:none;
            }
        }

        &--sign {
            display: none;

            @media (max-width:$s) {
                display:flex;
            }
        }
    }

}