.photo-container {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: $main-name;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 60px;
    width: 100%;

    @media (-webkit-min-device-pixel-ratio: 1.1) and (min-width:$m) { //przykładowo
//        background-position-x: center;
    }

    &__landing-page-photo {
        background-image: url("../images/landing_page.jpg");
        background-position-x: center;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(1.2);
        z-index: -1;

        @media (orientation:portrait) {
            background-position-x: right;//-1000px;
        }

        @media (orientation:portrait) and (max-width:$m) and (min-height:1000px) { //iPad Pro, Huawei P8 Lite, 
            background-position-x: -900px;
        }

        @media (orientation:portrait) and (max-width:$xs) { //Galaxy S5, iPhone
            background-position-x: -450px;
        }
    }

    &__first-photo {
        background-image: url("../images/photo_container_1.jpg");
        background-position-y: -400px;

        @media (orientation:portrait) {
            background-position-x: right;//-1000px;
            background-position-y: 0;
        }

        @media (max-width:$l) {
            background-position-y: -100px;
        }

        @media (max-width:$m) {
            background-position-y: -200px;
        }

        @media (max-width:$s) {
            background-position-y: -50px;
        }

        @media (orientation:portrait) and (max-width:$m) and (min-height:1000px) { //iPad Pro, Huawei P8 Lite, 
            background-position-x: -500px;
            background-position-y: -300px;
        }

        @media (orientation:portrait) and (max-width:$xs) and (min-height:560px) { //iPhoneX
            background-position-x: -330px;
            background-position-y: 0;
        }

        @media (orientation:portrait) and (max-width:$s) and (max-height:1100px) { //iPad, GalaxyS5,
            background-position-x: -250px;
            background-position-y: 0;
            z-index: -1 !important;
        }
    }

    &__second-photo {
        background-image: url("../images/photo_container_2.jpg");

        @media (max-width:$m) {
            transform: scale(1.3) translateZ(-0.9px) !important;
        }

        @media (orientation:portrait) and (max-width:$m) and (min-height:1250px) { //iPad Pro, Huawei P8 Lite, 
            background-position-y: 150px;
            transform: scale(1.3) translateZ(-0.9px) !important;
        }
    }

    &__third-photo {
        background-image: url("../images/photo_container_3.jpg");
        min-height: 120vh;
        z-index: -3 !important;

        /*@media (orientation:portrait) and (max-width: $m) and (min-height:1300px) { //Huawei P8 Lite
            z-index: -3 !important;
        }*/
    }
}