.picture {
    border: 0px solid black;
    border-radius: 90%;
    height: 100%;
    opacity: 0.9;
    transition: all 0.4s;
        &:hover {
            transform: scale(1.1)
        }

    &--offer-size {
        height: 120px;
        width: 120px;
    }
    

    &--bicycles {
        background: url("../images/about_bicycles.jpg") center no-repeat;
        background-size: cover;
        &:hover {
            transform: scale(1)
        }

    }

    &--fishing {
        background: url("../images/about_fishing.jpg") center no-repeat;
        background-size: cover;
        &:hover {
            transform: scale(1)
        }
    }

    &--mashroom {
        background: url("../images/about_mashroom.jpg") center no-repeat;
        background-size: cover;
        &:hover {
            transform: scale(1)
        }
    }

    &--fireplace {
        background: url("../images/offer_fireplace.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    }

    &--sauna {
        background: url("../images/offer_sauna.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    } 

    &--badminton {
        background: url("../images/offer_badminton.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    }

    &--fun-in-lake {
        background: url("../images/offer_fun_in_lake.jpg") center no-repeat;
//        background-color: #bddae0;
        background-size: cover;
        margin-bottom: 20px;
    }

    &--boule {
        background: url("../images/offer_boule.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    }

    &--blocks {
        background: url("../images/offer_blocks.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    }

    &--crayons {
        background: url("../images/offer_crayons.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    }

    &--board-games {
        background: url("../images/offer_board_games.jpg") center no-repeat;
        background-size: cover;
        margin-bottom: 20px;
    } 
}