.picture-section {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 10%;

    @media (max-width:$l) {
        align-items: center;
        width: 25%;
    }

    @media (max-width:$m) {
        display: none;
    }

    &__picture-box {
        height: 250px;
        width: 250px;
        padding: 30px;
    }
}

.article-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: $section;
    width: 50%;

    @media (max-width:$l) {
        padding: 0;
        width: 60%;
    }

    @media (max-width:$m) {
        padding-right: 10%;
        width: 100%;
    }

    @media (max-width:$s) {
        padding-right: 0;
        width: 100%;
    }

    @media (max-width:$xs) and (min-height:730px) { //iPhone
        min-height: 612px;
    }

    @media(min-height:1020px) and (max-width:$s) { //iPad, Huawei P8 Lite
        min-height: 400px;
    }

    @media (min-height:1020px) and (max-width:$l) { //iPad Pro - horizontal
        min-height: 100%;
    }

    @media(min-height:1350px) and (max-width:$m) { //iPad Pro
        min-height: 100%;
    }

    &--link {
        font-weight: bold;
    
        &:hover {
            color: $middle-bar;
        }
    }

    &--alignment {
        padding: 0 50px 0 50px;
        text-indent: 50px;

        @media (max-width:$m) {
            padding: 0 30px;
        }

        @media (max-width:$s) {
            padding: 0;
        }

        @media (max-width:$s) {
            text-indent: 0;
        }
    }
}

.region-info-section {
    background-image: url("../images/wierzchownia.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    margin: 60px;
//    margin-top: 0;

    @media (max-width:$l) {
        margin-left: 30px;
        margin-right: 120px;
    }

    @media (max-width:$s) {
        background-position-y: 80px;
        cursor: pointer;
        margin: 0;
    }

    @media(min-height:1020px) and (max-width:$s) { //iPad, Huawei P8 Lite
        height: 550px;
    }

    @media (min-height:1020px) and (max-width:$l) { //iPad Pro
        height: 500px;
    }

    @media (max-width:$xs){ //iPhone
        height: 380px;
    }
}

.gallery-section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: stretch;
    padding: 0 60px;
    width: 100%;

    @media (max-width:$l) {
        padding-left: 0;
    }

    @media (max-width:$m) {
        justify-content: center;
        padding: 0;
        padding-top: 30px;
    }

    @media (max-width:$s) and (min-height:1200px) {
        height: 260vh;
    }

    &__photo-box {
        height: 35%;
        padding: 20px;
        width: 18%;       

        @media (max-width:$m) {
            height: 300px;
            width: 40%;
        }

        @media (max-width:$s) {
            height: 300px;
            width: 70%;
        }

        @media (max-width:$xs) {
            height: 300px;
            width: 90%;
        }
    }

    &__photo-miniature {
        background-position: center;
        background-size: cover;
        border-radius: 1vmax;
        box-shadow: 0 0 10px 2px rgba($text, 0.5);
        height: 100%;
        transition: all 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.1)
        }

        @media (max-width:$s) {
            box-shadow: 0 0 10px 10px rgba($text, 0.5);
        }
    }
}

.offer-box-section {
//    background-color: $navigation-background;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 10% 10px 0;

    @media (max-width:$m) {
        display: none;
    }

    &--alignment {
        align-items: center;
        display: flex;
        flex-flow: column;
        padding: 0 10% 50px 100px;

        @media (max-width:$m) {
            padding-left: 80px;
            padding-right: 15%;
        }

        @media (max-width:$s) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__picture-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $text-content;
        font-size: $text-content-size;
        padding: 20px 0;
        width: 140px;

        @media (max-width:$l) {
            width: 25%;
        }
    }
}

.price-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    &__price-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 60px 30px 60px;
        width: 100%;

        @media (max-width:$m) {
            justify-content: center;
            padding: 10px 60px;
        }

        @media (max-width:$s) {
            padding: 30px 0;
        }

        @media (max-width:$xs) {
            padding: 10px 0;
        }
    }

    &__price-list-postscript {
        background-color: rgba($navigation-background, 0.9);
        border-radius: 1vmax;
        color: $text;
        display: flex;
        font-family: $text-content;
        font-size: $text-content-size;
        padding: 10px;

        @media (max-width:$m) {
            background-color: rgba($navigation-background, 1);
        }

        @media (max-width:$s) {
            font-size: $text-content-min-size;
        }

        &--alignment {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 0 60px;
            width: 52%;

            @media (max-width:$l) {
                justify-content: center;
                width: 100%;
            }

            @media (max-width:$m) {
                margin: 0 auto;
                width: 80%;
            }

            @media (max-width:$s) {
                padding: 0;
                width: 100%;
            }
        }
    }

    &__price-box {
        background-color: rgba($navigation-background, 0.9);
        border-radius: 1vmax;
        color: $text;
        display: flex;
        flex-direction: column;
        font-family: $text-content;
        font-size: $price-list-size;
        height: 300px;
        padding: 20px;
        width: 300px;

        @media (max-width:$xl) {
            width: 280px;
        }
        @media (max-width:$l) {
            margin: 30px;
            width: 40%;
        }

        @media (max-width:$m) {
            background-color: rgba($navigation-background, 1);
            margin: 30px;
            width: 80%;
        }

        @media (max-width:$s) {
            font-size: $text-content-size;
            height: 180px;
            margin: 30px 0;
            width: 100%;
        }

        @media (max-width:$xs) {
            margin: 10px 0;
        }

        @media (max-width:$xs) and (max-height:600px) {
            font-size: $text-content-min-size;
        }
    }

    &__price-box-info {
        align-items: center;
        border-bottom: 2px solid $text;
        display: flex;
        height: 45%;
        justify-content: center;
    }

    &__price-box-price {
        align-items: center;
        display: flex;
        height: 55%;
        justify-content: center;
    }
}

.contact-section {
    background-color: rgba($navigation-background, 0);
    display: flex;
    flex-direction: column;
    //padding-top: 60px;

    &__communication-box {
        align-items: stretch;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        padding: 0;  
        padding-bottom: 0;

        @media (max-width:$m) {
            align-items: center;
            flex-direction: column;
        }

        @media (max-width:$s) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 10px;
        }
    }

    &__contact-box-container {
        align-items: center;
        background-color: rgba($navigation-background, 1);
//        border-radius: 1vmax;
        color: $text;
        display: flex;
        flex-direction: column;
        font-family: $text-content;
        font-size: $price-list-size; 
        height: 100%;
        justify-content: center;
        padding: 30px;
        width: 50%;

        @media (max-width:$l) {
            font-size: $between-text-price; 
        }

        @media (max-width:$m) {
            background-color: rgba($navigation-background, 1);
            width: 100%;
        }

        @media (max-width:$s) {
            font-size: $text-content-size;
            width: 100%;
        }

        @media (max-width:$xs) and (max-height:600px) {
//            font-size: $text-content-min-size;
        }
    }

    &__contact-box {              
        padding: 15px;

        @media (max-width:$s) {
            padding: 8px;
        }
        
        &--fb {
            color: $fb;
        }

        &--link-fb {

            &:hover {
                color: $fb;
            }
        }
    }
}

.map-section {
    align-items: stretch;
    display: flex;
    width: 50%;

    @media (max-width:$m) {
        height: 500px;
//        padding-top: 60px;
        width: 100%;
    }

    @media (max-width:$s) {
        width: 100%;
    }
}