.text-content {
    font-family: $text-content;
    font-size: $text-content-size;
    line-height: 150%;
    padding: $internal;
    text-align: justify;
    width: 100%;

    @media (max-width: $s) {
        font-size: $text-content-min-size;
        padding: 10px 0;
    }
}