//padding
$content-container: 30px;
$internal: 20px;
$long-text: 50px;
$title-padding: 60px;
$section: 0 30px;

//breakpoints:
$xs: 500px;
$s: 800px;
$m: 1200px;
$l: 1645px;
$xl: 1800px;
$minxl: 1801px;

//font-size
$big-size: 100px;
$title-size: 60px;
$title-min-size: 40px;
$price-list-size: 30px;
$between-text-price: 25px;
$text-content-size: 20px;
$text-content-min-size: 16px;

//font-family
$landing-page: 'Dancing Script';
$text-content: 'Mali';
$title: 'Charmonman';
$icons: 'jam-icons';

//colors
$main-name: #edf8f0;// #f9e044; #d5e5d7;
$navigation-background: #bddae0;
$underscore: #89b4c5;
$text: #2d4140;
$middle-bar: #89b4c5;
$fb: #4267b2;
$arrows: #558381;


p {
//    text-indent: 50px;
}

span {
    text-align: center;
}