/* mali-regular - latin-ext_latin */
@font-face {
    font-family: 'Mali';
    font-style: normal;
    font-weight: 400;
    src: local('Mali Regular'), local('Mali-Regular'),
         url('../fonts/mali-v1-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mali-v1-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mali-600 - latin-ext_latin */
  @font-face {
    font-family: 'Mali';
    font-style: normal;
    font-weight: 600;
    src: local('Mali SemiBold'), local('Mali-SemiBold'),
         url('../fonts/mali-v1-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mali-v1-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* charmonman-regular - latin-ext_latin */
@font-face {
    font-family: 'Charmonman';
    font-style: normal;
    font-weight: 400;
    src: local('Charmonman Regular'), local('Charmonman-Regular'),
         url('../fonts/charmonman-v1-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/charmonman-v1-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* charmonman-700 - latin-ext_latin */
  @font-face {
    font-family: 'Charmonman';
    font-style: normal;
    font-weight: 700;
    src: local('Charmonman Bold'), local('Charmonman-Bold'),
         url('../fonts/charmonman-v1-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/charmonman-v1-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* dancing-script-regular - latin-ext_latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'),
       url('../fonts/dancing-script-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/dancing-script-v9-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dancing-script-700 - latin-ext_latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local('Dancing Script Bold'), local('DancingScript-Bold'),
       url('../fonts/dancing-script-v9-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/dancing-script-v9-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}